<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="deviceFamilies" type="Japp.DeviceConfig, Japp" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
	<appSettings>
		<add key="ExecutivePath" value="C:\Program Files (x86)\Microchip\MPLAB IDE\REAL ICE" />
	</appSettings>
	<deviceFamilies>
    <families>
      <family name="dsPIC33F/PIC24F" programmerClass="Japp.dsPIC33F, Japp">
        <devices>
          <device name="dsPIC33FJ128GP202" DEVID="0625" DEVREV="3002" programMemorySize="0x0157FE" konfigAddress="0xF80000" konfigBytes="36">
            <konfigurationBits>
              <konfigurationBit address="0xF80000" name="FBS" mask="0xFF" />
              <konfigurationBit address="0xF80002" name="FSS" mask="0xFF" />
              <konfigurationBit address="0xF80004" name="FGS" mask="0xFF" />
              <konfigurationBit address="0xF80006" name="FOSCSEL" mask="0xFF" />
              <konfigurationBit address="0xF80008" name="FOSC" mask="0xFF" />
              <konfigurationBit address="0xF8000A" name="FWDT" mask="0xFF" />
              <konfigurationBit address="0xF8000C" name="FPOR" mask="0xFF" />
              <konfigurationBit address="0xF8000E" name="FICD" mask="0xFF" />
              <konfigurationBit address="0xF80010" name="FUID0" mask="0xFF" />
              <konfigurationBit address="0xF80012" name="FUID1" mask="0xFF" />
              <konfigurationBit address="0xF80014" name="FUID2" mask="0xFF" />
              <konfigurationBit address="0xF80016" name="FUID3" mask="0xFF" />
            </konfigurationBits>
          </device>
          <device name="dsPIC33FJ128GP802" DEVID="062D" DEVREV="3002" programMemorySize="0x0157FE" konfigAddress="0x0" />
          <device name="dsPIC33FJ256GP710" DEVID="0032" DEVREV="3002" programMemorySize="0x02ABFE" konfigAddress="0x0" />
        </devices>
      </family>
      <family name="dsPIC33E/PIC24E (Volatile Config)" programmerClass="Japp.dsPIC33EVolatile, Japp" volatileConfig="true">
        <devices>
          <device name="dsPIC33EP512GP502" DEVID="178D" DEVREV="4007" programMemorySize="0x0557FC" konfigAddress="0x00557EC" konfigBytes="30">
            <konfigurationBits>
              <konfigurationBit address="0x0557F0" name="FICD" mask="0xBB" />
							<konfigurationBit address="0x0557F2" name="FPOR" mask="0xF8" onesMask="0x18" />
              <konfigurationBit address="0x0557F4" name="FWDT" mask="0xFF" />
              <konfigurationBit address="0x0557F6" name="FOSC" mask="0xE7" />
              <konfigurationBit address="0x0557F8" name="FOSCSEL" mask="0xC7" />
              <konfigurationBit address="0x0557FA" name="FGS" mask="0x03" />
            </konfigurationBits>
          </device>
        </devices>        
      </family>
      <family name="PIC18">
        <devices>
          <device name="PIC18LF14K50" DEVID="FDFD" DEVREV="3002" programMemorySize="0x02ABFE" konfigAddress="0x0" />
        </devices>
      </family>
    </families>
  </deviceFamilies>
</configuration>
